# ===============================
# Python
# ===============================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Ambientes virtuais
venv/
.venv/
.env/
.envrc

# ===============================
# Streamlit
# ===============================
.streamlit/

# ===============================
# Variáveis de ambiente / segredos
# ===============================
.env
.env.*

# ===============================
# Sistema operacional
# ===============================
# Windows
Thumbs.db
Desktop.ini

# macOS
.DS_Store

# ===============================
# IDEs / Editores
# ===============================
.vscode/
.idea/
*.swp

# ===============================
# Logs
# ===============================
*.log